body {
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
}

.cnt {
    display: flex;
    flex-direction: column;
    height: 100% /* Set the container height to the viewport height */
}

.upper-cnt {
    /* Additional styles if needed */
    height: 67vh;
    font-family: messina-sans;
}

.bg {
    background-image: url(../asset/navimg.png);
    background-size: cover; /* Make the background image cover the entire space */
    background-repeat: no-repeat;
    height: 100%; /* Set the height to 100% to cover the parent container */
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
}
.logo-nav-cnt{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    justify-content: space-around;

}
.logo-cnt{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    height: 144.26px;
    justify-content: flex-start;
}
.logo{
    height: 45px;
    width: 170px;
}
.navbar{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 144.26px;
    justify-content: end;
}
.nav-span{
    margin-left: 40px;
}
.big-gallery-title{
    display: flex;
    font-size:calc(20.66667px + 3.06667vw);
    color: white;
    margin-left:200px;
    margin-right:100px;
    justify-content:flex-start;
    height: 95px;
}
.body-cnt{
    display: flex;
    flex-direction: column;
}
.card123, .card456{
    display: flex;
    flex-direction: row;
}
.card1, .card2, .card3, .card4, .card5, .card6{
    height: 424px;
    width:505px;
    display: flex;
    flex-direction: column;
}
.card-picture{
    height: 303px;
    width: 505px;
    color: white;
    /* padding: 3rem 1.5rem;
    text-align: center; */
}
.card-label{
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    padding: 3rem 1.5rem;
    font-size: calc(16px + .4vw);
    height: 121.6px;
}
.footer{
    display: flex;
    flex-direction: row;
    background-color: #161f1e;
    height:363.64px;
    padding-left: 170px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    gap:45%;
}
.svg{
    display: flex;
    height: 45px;
    width: 45px;
}
.rightinfo{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 200;
    gap:20%;
}
.getintouch{
    margin-bottom: 30px;;
}
.gt{
    margin-bottom: 15px;
}
.realestate{
    margin-bottom: 10px;
}
.rt{
    margin-bottom: 15px;
}
.about{
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100px;
}
.about-label{
    margin-bottom: 20%;
}
.last-label{
    margin-bottom: 20px;
}